@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*@import url(https://fonts.googleapis.com/css?family=Fira+Mono);*/
@import url(https://fonts.googleapis.com/css?family=Merriweather);

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #333;
  line-height: 1.5;
}

html,
button,
input,
select,
textarea {
  color: #333;
}

hr {
  display: none;
  height: 1px;
  border: 0;
  /* border-top: 1px solid #ccc; */
  margin: 1rem 0;
  padding: 0;
}

textarea {
  resize: vertical;
  margin: 10%;
}

span {
    display: block;
}

a:link {
  text-decoration: none;
}

a:hover {
  /*text-decoration: underline;*/
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather";
  font-weight: lighter;
  margin-bottom: 15px;
  margin-top: 20px;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-weight: 300;
  font-size: 1rem;
}

h6 {
  font-weight: 300;
  font-size: 0.9rem;
}

ul {
  padding-left: 15px;
}

ul.flat {
  margin: 0;
  padding: 0;
}

ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
}

.prevent-collapse {
  min-height: 0.1rem;
}

.page-title {
  margin: 0;
}

.smaller {
  font-size: 70%;
}

ul {
  list-style: disc inside;
}

.introduction ul li {
  margin-bottom: 10px;
}

.introduction ul li p {
  display: inline;
}

.wrapper {
  max-width: 60%;
  margin: auto auto;
}

.header {
  margin-bottom: 20px;
  /* padding-bottom: 20px; */
}

.header nav {
  margin-top: 20px;
  /* border-top: 1px solid #f4f4f4; */
}

.header .profile_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 30%;
  height: auto;
  border-radius: 50%;
  /* float: left; */
}

.header h1,
.header h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 1.3em;
}

.header h2 {
  font-size: 1.125rem;
}

.header nav {
  margin-top: 20px;
}

.header nav ul,
.header nav li {
  margin: 0;
}

.header nav ul.flat {
  padding: 0;
}

.header nav ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
  text-transform: capitalize;
}

.page_title {
  font-family: "Open Sans";
  font-weight: bolder;
  font-size: 1.5em;
  margin-top: 10%;
  display: block;
}

.section .section-header {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.year {
  font-size: 20px;
  margin-bottom: -.6em;
}

.footer {
  text-align: center;
  font-size: 0.75em;
  color: #999;
  padding: 20px 0;
  margin-top: 40px;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .wrapper {
        max-width: 90%;
    }
    .header .profile_image {
      max-width: 60%;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .wrapper {
        max-width: 90%;
    }
}
