<div class="header">
	<img src={{ "profile.png" | absURL }} class="profile_image">
	<h1 style="text-align: center">{{ .Site.Title }}</h1>
	<div style="text-align: center">
    <a href="{{ $.Site.Params.mail }}"><img src="icons/mail.svg" style="max-width: auto; margin-right: 7px" alt="Mail"></a>
    <a href="{{ $.Site.Params.cv }}"><img src="icons/cv.svg" style="max-width: 20pt; margin-right: 7px" alt="CV"></a>
    <a href="{{ $.Site.Params.linkedin }}"><img src="icons/linkedin.svg" style="max-width: auto; margin-right: 7px" alt="LinkedIn"></a>
    <a href="{{ $.Site.Params.github }}"><img src="icons/github.svg" style="max-width: auto; margin-right: 7px" alt="GitHub"></a>
    <a href="{{ $.Site.Params.gscholar }}"><img src="icons/gscholar.svg" style="max-width: 20pt" alt="Google Scholar"></a>
	</div>
</div>
