<div class="introduction">
	{{- range $index, $key := .Site.Params.Introduction.paragraph -}}
  <span style="text-align: justify">
		{{ $key.text  | markdownify }}
	</span>
	<br>
	{{- end -}}
	<span>
      Being in favor of
      <a href="https://www.stat.cmu.edu/~larry/Peer-Review.pdf">Open</a>
      <a href="https://aihub.org/2020/06/15/aihub-coffee-corner-arxiv-and-the-future-of-ai-publishing">Peer</a>
      <a href="https://openreview.net/about">Review</a>, I offer and invite any form of
      feedback.
	</span>
</div>
