<div class="introduction">
	{{- range $index, $key := .Site.Params.Introduction.paragraph -}}
	<span>
		{{ $key.text  | markdownify }}
	</span>
	<br>
	{{- end -}}
	<span>
      Being in favour of
      <a href="https://www.stat.cmu.edu/~larry/Peer-Review.pdf">open</a>
      <a href="https://aihub.org/2020/06/15/aihub-coffee-corner-arxiv-and-the-future-of-ai-publishing">peer</a>
      <a href="https://openreview.net/about">review</a>, I invite any
      comments, reviews, critiques or objections.
	</span>
</div>
